@import url("custom-properties.css");

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #c2e7f2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4159a7;
    border-radius: 10px;
}


html {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    /* この3項目と、「mainの"flex:1："」でヘッダーを固定する */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 1.75;

    & header {
        width: 400px;
        margin: auto;
    }

    & main {
        flex: 1;
        max-width: 1580px;
        margin: 48px auto;
        padding: 16px;
    }

    & footer {
        background-color: var(--rs-main-color);
        color: #fff;
        text-align: center;
        padding: 16px 0;
    }
}