@import url("custom-properties.css");

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 16px;
    row-gap: 36px;
    margin: 48px 0;

    & .character-wrapper {
        width: 240px;
        margin: 0;

        /* キャラクター（card）にホバーした場合 */
        &:hover {
            & .character {
                .icon {

                    /* アイコン画像を拡大 */
                    & img {
                        animation: scale 0.25s linear forwards;
                        filter: blur(0) grayscale(0);
                    }

                    /* アイコン画像の周りのdiv（border）要素を無限に回転する */
                    & .rotate-circle {
                        border: 2px solid transparent;
                        border-top-color: var(--rs-red-color);
                        border-bottom-color: var(--rs-red-color);
                        animation: rotate 0.8s ease infinite;
                    }
                }

                .info {
                    & .info-text.awakening {
                        /* 文字列を折り返さない */
                        white-space: nowrap;
                        /* はみ出た部分を表示する */
                        overflow: visible;
                        /* はみ出た部分がある場合、 */
                        text-overflow: clip;
                        /* アニメーション開始 */
                        /* animation: flowing 5s linear infinite; */
                    }
                }
            }
        }

        & .character {
            & .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                background-color: var(--character-bg-color);
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);

                & div {
                    /* .rotate-circle用 */
                    position: relative;

                    & .rotate-circle {
                        background: transparent;
                        border-radius: 50%;
                        position: absolute;
                        top: -8px;
                        left: -8px;
                        height: 86px;
                        width: 86px;
                    }

                    & img {
                        border-radius: 50%;
                        width: 70px;
                        filter: blur(1px) grayscale(75%);
                    }
                }
            }

            & .info {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 8px;
                border: solid 1px var(--character-bg-color);
                border-top: none;
                border-bottom-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);

                /* 見出し（職業、覚醒タイプ） */
                & .info-title {
                    color: var(--nx-unique-color);
                    font-size: var(--font-size-caption);
                }

                /* 職業名・覚醒名を、省略せずに表示する */
                & .info-text {
                    /* 文字列を折り返さない */
                    white-space: nowrap;
                    /* はみ出た部分を表示しない */
                    overflow: hidden;
                    /* はみ出た部分がある場合、文末に「…」が表示される */
                    text-overflow: ellipsis;
                }

                & .tag-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    align-content: flex-start;
                    column-gap: 4px;
                    row-gap: 8px;
                    margin-top: 8px;

                    & .tag {
                        background-color: #ededed;
                        border-radius: var(--border-radius-tag);
                        color: var(--character-bg-color);
                        font-size: 13px;
                        padding: 2px 8px;

                        /* &::before {
                            content: "#";
                        } */
                    }
                }
            }
        }
    }
}


/* アニメーション */

/* 職業 アイコン */
@keyframes scale {

    to {
        transform: scale(1.05);
    }
}

@keyframes rotate {
    to {
        transform: rotate(720deg);
    }
}

/* 文字を流すため */
@keyframes flowing {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}