.character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}

.job-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 見出し（職業、覚醒タイプ） */
.job-title,
.awakening-title {
    color: #808080;
    font-size: 12px;
}

/* 職業のアイコン画像 */
.job-wrapper>div>img {
    border-radius: 20px;
    width: 80px;
}

.job,
.awakening {
    /* 省略せずに表示するサイズを指定 */
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.equipments {
    color: #fff;
    background-color: #153434;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}